# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Python compiled files
*.pyc

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Compiled latex files
docs/src/*.aux
docs/src/*.log
docs/src/*.pdf
docs/src/*.toc
docs/src/*.bbl
docs/src/*.blg

# Include documentation images
!docs/src/images/

# Emacs backup files
*~

# MacOS
.DS_Store

# Built directories
Debug/

# Atmel Studio
*.atsuo

# IDEA
.idea/

.metadata/

# Bluetooth
pi/bt_answers.txt
pi/bt_commands.txt

# Python
__pycache__/
*.pyc

# pycharm
.metadata/
