# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Python compiled files
*.pyc

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Compiled latex files
docs/src/projektplan.aux
docs/src/projektplan.log
docs/src/projektplan.pdf
docs/src/projektplan.toc
docs/src/systemskiss.aux
docs/src/systemskiss.log
docs/src/systemskiss.pdf
docs/src/systemskiss.toc
docs/src/systemskiss.bbl
docs/src/systemskiss.blg
docs/src/designspec.aux
docs/src/designspec.log
docs/src/designspec.pdf
docs/src/designspec.toc
docs/src/designspec.bbl
docs/src/designspec.blg
docs/src/teknisk_dokumentation.aux
docs/src/teknisk_dokumentation.log
docs/src/teknisk_dokumentation.pdf
docs/src/teknisk_dokumentation.toc

# Emacs backup files
*~

# MacOS
.DS_Store

# Built directories
Debug/

# Atmel Studio
*.atsuo

# IDEA
.idea/

.metadata/

# Bluetooth
pi/bt_answers.txt
pi/bt_commands.txt

# Python
__pycache__/
*.pyc

# pycharm
.metadata/
