# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Compiled latex files
docs/src/projektplan.aux
docs/src/projektplan.log
docs/src/projektplan.pdf
docs/src/projektplan.toc
docs/src/systemskiss.aux
docs/src/systemskiss.log
docs/src/systemskiss.pdf
docs/src/systemskiss.toc
docs/src/systemskiss.bbl
docs/src/systemskiss.blg
docs/src/designspec.aux
docs/src/designspec.log
docs/src/designspec.pdf
docs/src/designspec.toc
docs/src/designspec.bbl
docs/src/designspec.blg

# Emacs backup files
*~

# MacOS
.DS_Store
